SQL

CREATE TABLE acities AS
 SELECT 1 AS a,2 AS b, "ccc" AS c UNION
 SELECT 5 ,    6      ,"asa";

sql> CREATE TABLE dog AS
...> SELECT "Peter" AS male,"Meg" AS female UNION
...> SELECT "st"    AS male,"sxs" AS female;
sql> SELECT male
...> FROM dog

删除列表操作

DROP TABLE IF EXISTS dog;